@use 'reset';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

$main-gradient: linear-gradient(to bottom, rgb(77, 190, 255), rgb(0, 162, 255));
$danger-gradient: linear-gradient(to bottom, rgb(255, 77, 77), rgb(255, 0, 0));
$danger-gradient-lighter: linear-gradient(
  to bottom,
  rgb(255, 77, 77),
  rgb(255, 125, 125)
);

.OnIce__Header {
  font-size: 2rem;
  font-weight: bold;

  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  width: 100%;
  height: 4.2rem;

  color: white;
  background: $main-gradient;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
  line-height: 2;

  &__Stat {
    font-weight: bold;
  }

  &__Button {
    margin-top: 2rem;
  }
}

.Button {
  height: 3rem;
  width: 150px;

  border: none;
  border-radius: 10px;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;

  display: grid;
  place-items: center;

  cursor: pointer;
}

.Button--main {
  @extend .Button;

  background: $main-gradient;
  color: white;

  &:hover {
    background: linear-gradient(
      to bottom,
      rgb(77, 190, 255),
      rgb(125, 214, 255)
    );
  }
}

.Button--danger {
  @extend .Button;

  background: $danger-gradient;
  color: white;

  &:hover {
    background: $danger-gradient-lighter;
  }
}

.Action {
  @extend .Button--main;

  width: 100%;
  padding: 8px 1rem;
  font-size: 1rem;
  height: auto;

  border-radius: 2px;

  margin: 5px 0;

  &Container {
    width: max-content;
    margin-top: 2rem;
  }
}

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 2rem;
  width: max-content;
}

.Items {
  margin: 2rem;
}

h2.Header {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;

  margin-bottom: 2rem;
}

.CatalogContainer {
  display: grid;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    justify-items: center;
  }
}

.CategoryContainer,
.ItemContainer {
  line-height: 2;
}

.ItemView {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.Item,
.ItemControls {
  padding: 0 1rem;
  line-height: 2;
}

.ItemViewWrapper,
.Wrapper {
  display: grid;
  place-items: center;
}

.Wrapper {
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  button {
    margin: 1rem 0;
  }
}

// Utility

.m2 {
  margin: 2rem 0;
}
