<%- include('partials/top'); %>

<form method="POST">
  <label for="name"> Name </label><br />
  <input
    required
    minlength="1"
    maxlength="100"
    type="text"
    name="name"
    value="<%= category.name %>"
    id="name"
  /><br />
  <label for="description"> Description </label><br />
  <textarea maxlength="2000" name="description" id="description">
<%= category.description || '' %></textarea
  ><br />

  <button>Confirm Edit</button>
</form>

<p>
  <a href="/catalog">&lt;Go back to catalog</a>
</p>

<%- include('partials/bottom'); %>
