<%- include('partials/top'); %>

<h2>Add new category</h2>

<form method="POST">
  <label for="name"> Name </label><br />
  <input
    required
    minlength="1"
    maxlength="100"
    type="text"
    name="name"
    autocomplete="off"
    id="name"
  /><br />
  <label for="description"> Description </label><br />
  <textarea
    maxlength="2000"
    name="description"
    id="description"
    autocomplete="off"
  ></textarea
  ><br />

  <button>Confirm</button>
</form>

<p>
  <a href="/catalog">&lt;Go back to catalog</a>
</p>

<%- include('partials/bottom'); %>
