<%- include('partials/top'); %>

<div class="Main">
  <p class="Main__Stat Stat">Products managed: <%= nOfProducts %></p>
  <p class="Main__Stat Stat">Out of Stock: <%= nOutOfStock %></p>
  <a class="Button--main" href="/catalog">View catalog</a>
</div>

<%- include('partials/bottom'); %>
